<h1>Food Storage Inventory</h1>
<p>This application is designed to help you track your food storage. It includes things like how much you have, when it expires, etc.</p>
<p>This application is still in development and is very rough around the edges. Having said that, feel free to try it out. I'll do my best to keep your data safe if you do.</p>
<p>Report issues on <a href="https://github.com/conradbeach/food-storage-inventory">GitHub</a>.
